# 0.0. IMPORTS

In [83]:
import pandas as pd
import numpy as np
import sqlalchemy

from sqlalchemy import create_engine

# 0.1 DATA COLLECTION

In [29]:
path= '/home/guilherme/Documentos/repos/ds_ao_dev/projeto_webscrapy/'

data_base= 'database_hm.sqlite'

conn= create_engine('sqlite:///' + path + data_base,echo= False)

In [24]:
# Unix/Mac - 4 initial slashes in total
engine = create_engine('sqlite:////absolute/path/to/foo.d

'database_hm.sqlite'

In [32]:
query = """ 
        SELECT * FROM vitrine

"""
df_raw = pd.read_sql_query(query,con=conn)

# 1.0 Descrição dos dados

In [34]:
df01= df_raw.copy(deep=True)

# 1.1 Dimensão dos Dados

In [41]:
print('Number of Rows:{}'.format( df01.shape[0]))
print('Number of Cols:{}'.format( df01.shape[1]))

Number of Rows:100
Number of Cols:13

# 1.2 Tipos de Dados

In [59]:
df01.dtypes

product_id                  object
product_name                object
product_price              float64
color_name                  object
size                        object
fit                         object
stlye_id                    object
color_id                    object
scrapy_datetime     datetime64[ns]
cotton                     float64
polyester                  float64
elastomultiester           float64
spandex                    float64
dtype: object

In [58]:
#convert object to datetime
df01['scrapy_datetime'] = pd.to_datetime(df01['scrapy_datetime'],format='%Y-%m-%d %H:%M%S' ).astype('datetime64[ns]')

/tmp/ipykernel_3074/3593185231.py:1: FutureWarning: Using .astype to convert from timezone-aware dtype to timezone-naive dtype is deprecated and will raise in a future version.  Use obj.tz_localize(None) or obj.tz_convert('UTC').tz_localize(None) instead
  df01['scrapy_datetime'] = pd.to_datetime(df01['scrapy_datetime'],format='%Y-%m-%d %H:%M%S' ).astype('datetime64[ns]')

# 1.4 SUBDSTITUIÇÃO DOS DADOS FALTANTES

In [61]:
#SOMANDO OS DADOS FALTANTES POR COLUNA 
df01.isna().sum()

product_id           0
product_name         0
product_price        0
color_name           0
size                70
fit                  0
stlye_id             0
color_id             0
scrapy_datetime      0
cotton               0
polyester            0
elastomultiester     0
spandex              0
dtype: int64

In [65]:
# REPRESENTAÇÃO EM % DOS DADOS FALTANTES EM RELAÇÃO AO MEU TOTAL DE LINHAS
df01.isna().sum() / df01.shape[0]

product_id          0.0
product_name        0.0
product_price       0.0
color_name          0.0
size                0.7
fit                 0.0
stlye_id            0.0
color_id            0.0
scrapy_datetime     0.0
cotton              0.0
polyester           0.0
elastomultiester    0.0
spandex             0.0
dtype: float64

In [76]:
#REMOVENDO A COLUNA COM MAIOR PORCENTAGEM DE % E DROPANDO OS NA DE TODAS NA DO DATASET
df01 = df01.drop(columns= ['size']).dropna()

df01.shape

(100, 12)

# 1.5 Descrição dos dados

In [80]:
num_attributes = df01.select_dtypes(include=['int64','float64'])
cat_attributes = df01.select_dtypes(exclude=['int64','float64','datetime64[ns]'])

# 1.5.1 numeric data

In [92]:
# têndecia central  - median and mean (centralização da posição dos dados e outra da no meio da posição )

t1 = pd.DataFrame(num_attributes.apply(lambda x: x.mean())).T

t2 = pd.DataFrame(num_attributes.apply(lambda x: x.median())).T

#disperson = std - min - max - range - skew - kurtose

d1 = pd.DataFrame(num_attributes.apply((np.std) )).T

d1

   product_price   cotton  polyester  elastomultiester   spandex
0        9.09745  0.03851   0.343459          0.018775  0.007652