# 0.0. IMPORTS

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy

from sqlalchemy import create_engine

# 0.1 DATA COLLECTION

In [2]:
path= '/home/guilherme/Documentos/repos/ds_ao_dev/projeto_webscrapy/'

data_base= 'database_hm.sqlite'

conn= create_engine('sqlite:///' + path + data_base,echo= False)

In [24]:
# Unix/Mac - 4 initial slashes in total
#engine = create_engine('sqlite:////absolute/path/to/foo.d

'database_hm.sqlite'

In [5]:
query = """ 
        SELECT * FROM vitrine

"""
df_raw = pd.read_sql_query(query,con=conn)

# 1.0 Descrição dos dados

In [6]:
df01= df_raw.copy(deep=True)

# 1.1 Dimensão dos Dados

In [7]:
print('Number of Rows:{}'.format( df01.shape[0]))
print('Number of Cols:{}'.format( df01.shape[1]))

Number of Rows:100
Number of Cols:13

# 1.2 Tipos de Dados

In [10]:
df01.dtypes

product_id                  object
product_name                object
product_price              float64
color_name                  object
size                        object
fit                         object
stlye_id                    object
color_id                    object
scrapy_datetime     datetime64[ns]
cotton                     float64
polyester                  float64
elastomultiester           float64
spandex                    float64
dtype: object

In [9]:
#convert object to datetime
df01['scrapy_datetime']= df01['scrapy_datetime'].astype('datetime64[ns]')
#df01['scrapy_datetime'] = pd.to_datetime(df01['scrapy_datetime'],format='%Y-%m-%d %H:%M%S' ).astype('datetime64[ns]')

# 1.4 SUBDSTITUIÇÃO DOS DADOS FALTANTES

In [11]:
#SOMANDO OS DADOS FALTANTES POR COLUNA 
df01.isna().sum()

product_id           0
product_name         0
product_price        0
color_name           0
size                70
fit                  0
stlye_id             0
color_id             0
scrapy_datetime      0
cotton               0
polyester            0
elastomultiester     0
spandex              0
dtype: int64

In [12]:
# REPRESENTAÇÃO EM % DOS DADOS FALTANTES EM RELAÇÃO AO MEU TOTAL DE LINHAS
df01.isna().sum() / df01.shape[0]

product_id          0.0
product_name        0.0
product_price       0.0
color_name          0.0
size                0.7
fit                 0.0
stlye_id            0.0
color_id            0.0
scrapy_datetime     0.0
cotton              0.0
polyester           0.0
elastomultiester    0.0
spandex             0.0
dtype: float64

In [13]:
#REMOVENDO A COLUNA COM MAIOR PORCENTAGEM DE % E DROPANDO OS "NaS" DE TODAS AS COLUNAS DO DATASET
df01 = df01.drop(columns= ['size']).dropna()

df01.shape

(100, 12)

# 1.5 Descrição dos dados

In [14]:
num_attributes = df01.select_dtypes(include=['int64','float64'])
cat_attributes = df01.select_dtypes(exclude=['int64','float64','datetime64[ns]'])

# 1.5.1 numeric data

In [48]:
# têndecia central  - median and mean (centralização da posição dos dados e outra da no meio da posição )

t1 = pd.DataFrame(num_attributes.apply(lambda x: x.mean())).T

t2 = pd.DataFrame(num_attributes.apply(lambda x: x.median())).T

#disperson = std - min - max - range - skew - kurtosis

#std
d1 = pd.DataFrame( num_attributes.apply( ( np.std ) ) ).T

#min
d2 = pd.DataFrame( num_attributes.apply( ( np.min ) ) ).T

#max
d3 = pd.DataFrame(num_attributes.apply ( ( np.max ) ) ).T

#range
d4 = pd.DataFrame(num_attributes.apply(lambda x: x.max() - x.min() ) ).T

#skew
d5 = pd.DataFrame(num_attributes.apply(lambda x: x.skew() ) ).T

#kurtosis
d6 = pd.DataFrame(num_attributes.apply(lambda x: x.kurtosis() ) ).T

m1 = pd.concat( [ d2,d3,d4,t1,t2,d1,d5,d6 ] ).T.reset_index()
m1.columns= [ 'attributes','min','max','range','mean','median','std','skew','kurtosis']

In [49]:
m1

,attributes,min,max,range,mean,median,std,skew,kurtosis
0,product_price,7.99,49.99,42.00,27.4100,26.99,9.097450,0.671583,0.163173
1,cotton,0.72,1.00,0.28,0.9799,0.99,0.038510,-3.829128,20.362932
2,polyester,0.00,1.00,1.00,0.3658,0.64,0.343459,0.063297,-1.716237
3,elastomultiester,0.00,0.09,0.09,0.0043,0.00,0.018775,4.215997,16.167172
4,spandex,0.00,0.02,0.02,0.0088,0.01,0.007652,0.209671,-1.272293