In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from datetime import datetime

In [ ]:
#id #product_name #product_type # product_color #composition #price

In [2]:
url= 'https://www2.hm.com/en_us/men/products/jeans.html'

headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36 OPR/37.0.2178.54'}

page = requests.get( url, headers=headers )

In [3]:
soup = BeautifulSoup(page.text, 'html.parser')

In [6]:
products = soup.find( 'ul', class_='products-listing small' )

In [8]:
products_list= products.find_all ('article',class_="hm-product-item")

In [8]:
products_list[0].get('data-articlecode')

'1024256001'

In [9]:
#product id

products_id = [p.get('data-articlecode') for p in products_list]

In [43]:
#product category

products_category= [p.get('data-category') for p in products_list]

In [12]:
#product name 

#extraction all the name 
products_list_2=  products.find_all('a', class_='link')

products_name =[p.get_text('link') for p in products_list_2]

In [15]:
#product price

#extraction informations of price
products_list_3 = products.find_all('span', class_='price regular')

#find all the price in page
products_price= [p.get_text('price_regular').replace('$ ','') for p in products_list_3]

In [41]:
#product color

In [42]:
#product composition

In [68]:
data = pd.DataFrame([products_id,products_category,products_name,products_price]).T

data.columns = ['products_id','products_category','products_name','products_price']

data['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d-%H-%M:%S')

In [70]:
data.head()

,products_id,products_category,products_name,products_price,scrapy_datetime
0,1024256001,men_jeans_slim,Slim Jeans,19.99,2022-03-20-16-42:26
1,0690449043,men_jeans_ripped,Skinny Jeans,39.99,2022-03-20-16-42:26
2,0690449022,men_jeans_ripped,Skinny Jeans,39.99,2022-03-20-16-42:26
3,0985159001,men_jeans_skinny,Skinny Jeans,19.99,2022-03-20-16-42:26
4,1024256002,men_jeans_slim,Slim Jeans,19.99,2022-03-20-16-42:26